@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
}

#cards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  color: black;
}

#logo {
  width: 75px;
  height: 75px;
}

#filter-buttons {
  margin: 5px;
}

#add--btn {
  margin: 5px;
}

form {
  margin:auto;
  width: 70%;
}

.card {
  background-color: white;
  color: black;
  margin: 5px;
}
